@model IEnumerable<projecPrueba.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dniclient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressClient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dniclient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressClient)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.ClientId">Edit</a> |
                <a asp-action="Details" class="btn btn-primary"  asp-route-id="@item.ClientId">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.ClientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
